@{
    ViewData["Title"] = "Home Page";
}

<link href="@Url.Content("~/css/letsBank.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/lib/fontawesome/css/font-awesome.css")" rel="stylesheet" type="text/css" />

<div id="bankOpsWrapper">

    <span id="controlPanel" name="controlPanel">
        <h2>Pick Transaction:</h2>

        <button id="depositBtn"     name="depositBtn"   class="btn bankOpsBtn">Deposit      </button>
        <button id="withdrawalBtn"  name="withdrawalBtn"class="btn bankOpsBtn">Withdrawal   </button>
        <button id="balanceBtn"     name="balanceBtn"   class="btn bankOpsBtn">Check Balance</button>

        <button id="clearBtn"       name="clearBtn"     class="btn            floatRight">Clear All                        </button>
        <button id="historyBtn"     name="historyBtn"   class="btn bankOpsBtn floatRight">Transaction History [last 100]   </button>
    </span>

    <hr />

    <div id="feedbackDiv" name="feedbackDiv">
        <span id="feedback" name="feedback" class="floatRight"></span>
    </div>

    <div id="inputDiv" name="inputDiv">

        <h3>Transaction Input</h3>

        <label for="enterAmount">Enter Amount ($):</label>
        <br />
        <input id="enterAmount" name="enterAmount" placeholder="Enter Amount in $ (then Click Deposit/Withdrawal)" size="50" />

    </div>

    <br />

    <div id="outputDiv" name="outputDiv">
        <hr />

        <h3>Transaction Output</h3>
        <label for="accountBalance">Account-Balance ($):</label>
        <br />
        <input id="accountBalance" name="accountBalance" disabled="disabled" size="50" />
    </div>

    <br />

    <div id="historyDiv" name="historyDiv" class="hiddenNone">

        <hr />

        <h3 for="historyTable">Transaction History</h3>
        <table id="historyTable" name="historyTable"></table>
    </div>

    <div id="bankOpsSpinnerContainer">
        <img alt="Loading" id="bankOpsSpinner" src="@Url.Content("~/images/loading.gif")" />
        <br />
        <br />
        <span id="bankOpsSpinnerText">Loading ...</span>
    </div>

    <br />
</div>

<script type="text/javascript">
    var DepositEndpoint             = "@Url.Action("RecordDeposit"      , "AccountManagement")";
    var WithdrawEndpoint            = "@Url.Action("RecordWithdrawal"   , "AccountManagement")";

    var GetAccountBalanceEndpoint       = "@Url.Content("/AccountManagement/AccountBalance")";
    var GetTransactionHistoryEndpoint   = "@Url.Content("/AccountManagement/TransactionHistory")";
</script>
<script type="text/javascript" src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/letsBank.js")"></script>